.just-for-you-mainnx-secttixon-web-ddtx {
    margin-top: 10px;
}
.just-for-you-mainnx-secttixon-web-ddtx .container {
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.just-for-you-main-secccton-web-ddt-ccm-bbooxcx {
    background: #ffffff;
    border-radius: 7px;
    padding: 4px;
}

.just-for-you-main-secccton-web-ddt-ccm-bbooxcx {
    margin-bottom: 58px;
}

/* hhhh */
.just-for-yooxuu-hedd-txt-web-ddxdt-cm p {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.just-for-yooxuu-hedd-txt-web-ddxdt-cm p {
    position: relative;
    margin-left: 4px;
}
.just-for-yooxuu-hedd-txt-web-ddxdt-cm a {
    position: absolute;
    right: 19px;
    top: 6px;
    font-size: 13px;
    color: #696969;
    font-weight: 400;
}
.just-for-yooxuu-hedd-txt-web-ddxdt-cm a i.fa {
    color: #545454;
    font-size: 12px;
}
/* hhhh */

.row.just-for-ex-padd-web-ddt-ccom {
    margin: 0px;
}

.row.just-for-ex-padd-web-ddt-ccom .col-4 {
    padding: 2px;
}
.just-for-ypou-snggl-prodct-web-ddtcm-img img {
    width: 100%;
    height: 94px;
    border-radius: 4px;
}
.just-for-ypou-snggl-prodct-web-ddtx-ocm {
    background-color: #f9f9f9;
    border-radius: 5px;
}
.just-for-ypou-snggl-prodcthg-web-ddt-xcvm-ttxt p {
    font-size: 10px;
    color: #252525;
    line-height: 12px;
}
.just-for-ypou-snggl-prodcthg-web-ddt-xcvm-ttxt h4 {
    color: #F34425;
    font-size: 11px;
    font-weight: 600;
    margin-top: -13px;
}
.just-for-yooxuu-hedd-txt-web-ddxdt-cm {
    margin-bottom: -10px;
}
.just-for-ypou-snggl-prodcthg-web-ddt-xcvm-ttxt {
    padding: 2px;
}