.slide-category-mobile-section {
    margin-top: 8px;
}
.mobile-cattgry-ssc-prt {
    background-color: #223DEF;
    color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    margin-left: 4px;
}
.mobile-cattgry-ssc-prt img {
    width: 35px;
    height: 39px;
    text-align: center;
    margin-left: 7px;
    padding-top: 7px;
}

.mobile-cattgry-ssc-prt-2 {
    background-color: #F1D524;
    color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    margin-left: 4px;
}
.mobile-cattgry-ssc-prt-3 {
    background-color: #eeeeee;
    color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    margin-left: 4px;
}
.mobile-cattgry-ssc-prt-4 {
    background-color: #F93D77;
    color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    margin-left: 4px;
}
.mobile-cattgry-ssc-prt-5 {
    background-color: #FB3859;
    color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    margin-left: 4px;
}
.mobile-cattgry-ssc-prt-6 {
    background-color: #15e9b4;
    color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    margin-left: 4px;
}
.mobile-cattgry-ssc-prt-7 {
    background-color: #a6d43b;
    color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    margin-left: 4px;
}


.mobile-cattgry-ssc-prt-2 img {
    width: 35px;
    height: 39px;
    text-align: center;
    margin-left: 7px;
    padding-top: 7px;
}
.mobile-cattgry-ssc-prt-3 img {
    width: 35px;
    height: 39px;
    text-align: center;
    margin-left: 7px;
    padding-top: 7px;
}
.mobile-cattgry-ssc-prt-4 img {
    width: 35px;
    height: 39px;
    text-align: center;
    margin-left: 7px;
    padding-top: 7px;
}
.mobile-cattgry-ssc-prt-5 img {
    width: 35px;
    height: 39px;
    text-align: center;
    margin-left: 7px;
    padding-top: 7px;
}
.mobile-cattgry-ssc-prt-6 img {
    width: 35px;
    height: 39px;
    text-align: center;
    margin-left: 7px;
    padding-top: 7px;
}
.mobile-cattgry-ssc-prt-7 img {
    width: 35px;
    height: 39px;
    text-align: center;
    margin-left: 7px;
    padding-top: 7px;
}
.single-category-mobile-ittm p {
    color: #000;
    font-size: 9px;
    margin-top: 12px;
    text-align: center;
}